.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #036bf4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #0380f4,
                0 0 25px #0380f4,
                0 0 50px #0380f4,
                0 0 100px #0380f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #036bf4);
    animation: btn-anim1 2s linear infinite;
  }
  


  .dhol{
    button {
      margin-top: 19px;
      margin-left: 20px;
      padding: 8px 15px;
      text-transform: uppercase;
      border-radius: 8px;
      font-size: 13px;
      font-weight: 500;
      color: #ffffff80;
      text-shadow: none;
      background: black;
      cursor: pointer;
      box-shadow: transparent;
      border: 1px solid black;
      transition: 0.5s ease;
      user-select: none;
      color: rgb(248, 243, 243);
    }
    
    #btn:hover,
    :focus {
      color: #ffffff;
      background: #008cff;
      border: 1px solid black;
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
      box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
        0 0 100px #008cff;
    }
    
  }

  body{
    height: 70%;
    width: 98%;
    background: #223;
    display: grid;
    place-items: center;
}

.box {
    --border-size: 3px;
    --border-angle: 0turn;
    width: 203vmin;
    height: 97vmin;
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation: bg-spin 2s linear infinite;
    animation: bg-spin 2s linear infinite;
}

@-webkit-keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

/* .box:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
} */

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

#element {
    color: rgb(193, 140, 243);
    font-size: 1.8rem;
    font-style: italic;
}